---
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";

---
<header>
    <nav>
        <div class="menu-nav">
            <Menu />
            <ThemeIcon />
        </div>
        <div id="main-menu" class="nav-links">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
            <a href="/tags/">Tags</a>
        </div>
    </nav>
</header>

<style>
    .menu-nav {
        display: flex;
        justify-content: space-between;
    }
</style>